.middle {
	color: #892424;
}

.middle h1 {
	margin-top: 50px;
}
.block {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}
.slide {
	margin-top: -120px;
	margin-bottom: -100px;
}
.carousel-inner>.item{
	z-index: -1
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	width: 100%
}
.carousel-control {
	z-index: 1;
}
.about {
}
.soul .container{
	background: url('../images/bg-about.jpg') repeat-y left;
	padding-top: 15px;
	padding-bottom: 15px;
}
.soul a{
	color: #4d4d4d;
	
}
.soul a.text{
	display: inline-block;
  	vertical-align: middle;
  	padding-left: 50px;
}
.soul a strong{
	font-size: 18px;
}
.soul a strong.name{
	font-size: 36px;
}
.soul .col-xs-3 a.mail {
	border: solid 1px #888888;
	padding: 8px 12px;
}
.soul img {
	width: 100%;
}
.soul .col-xs-3 {
	padding: 0;
	border: 1px solid #113889;
	background-color: #fff;
	height: 170px;
	overflow: hidden;
	white-space: nowrap;
}
.soul .col-xs-3:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.2em; /* Adjusts for spacing */
}

.soul .col-xs-3:nth-of-type(1){
	background-color: transparent;
}
.soul .col-xs-3:nth-of-type(1) a{
	color: #fff;
}
.slogan img{
	width: 100%;
}
.slogan {
	background: url('../images/bg-slogan-1.jpg') repeat-x top;
}
.slogan .container {
	padding-bottom: 15px;
	color: #fff;
	background: url('../images/bg-slogan-2.jpg') repeat-x bottom;
}
.slogan .container .slogan-content h3 {
	font-weight: bold;
}
.slogan .container .slogan-content{
	padding-top: 200px;
	padding-left: 50px;
	padding-right: 50px;
}
.value {
	position: relative;
}
.value h2{
	position: absolute;
	top:50px;
	width: 100%;
	z-index: 2;
	color: #b01515;
}
.value h2 strong{
	color: #fff;
}
.value a {
	color: #fff;

}
.value a p{ 
	margin-top: 20px;
}
.value .col-xs-4{
	padding-top: 120px;
	padding-bottom: 50px;
}
.value .col-xs-4:nth-of-type(1) {
	background: #1544a6;
}
.value .col-xs-4:nth-of-type(2) {
	background: #133e98;
}
.value .col-xs-4:nth-of-type(3) {
	background: #113889;
}

.created {
	background: url('../images/bg-created.jpg') no-repeat;
	background-size: 100% auto;
	color: red;
}
.created h2 {
	margin-top: 20px;
}
.created h2 strong{ 
	color: #fff;
}
.created a {
	width: 240px;
	color: #fff;display: block;
	margin: 50px auto;
}
.created a p {
	background: #252525;
	padding-top: 10px;
	padding-bottom: 10px;
}

.product {
}
.product img{
	width: 100%;
}
.product .col-sm-4 {
	position: relative;
}
.product .more {
	position: absolute;
	bottom: -10px;
	right: 50px;
	background: #2e2e2e;
	color: #fff;
	padding: 5px 0 5px 5px;
	font-size: 10px;
}
.product .more i{
	padding: 2px 5px;
	background: #a0a0a0;
	margin-left: 8px;
}
.recruit {
	background: url('../images/bg-recuit.jpg') no-repeat;
	background-size: 100% auto;
}
.recruit h4 {
	border-bottom: solid #ccc 1px;
}
.recruit .recruit-content {
	border-radius: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #fff;
	padding: 20px;
	background: rgba(255, 255, 255, .3);
}
.recruit .recruit-content h4{
	padding-top: 5px;
	padding-bottom: 5px;
}
.recruit .recruit-content p{
	padding-top: 15px;
	padding-bottom: 5px;
}
.contact {
}
.contact h2 {
}
#map {
	border: 1px solid #ccc;
    height: 350px;
    padding: 10px;
}