@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,vietnamese);
body {
  font-family: 'Open Sans', sans-serif;
}

.aboutus-title {
  padding-top: 20px;
  padding-bottom: 40px;
}

.aboutus-title h1 {
  z-index: 2;
}

.aboutus-title h1 i {
  width: 50px;
  height: 50px;
  border: 3px solid #2E332F;
  line-height: 50px;
  text-align: center;
  z-index: 1;
  margin-right: 15px;
}

.aboutus-title p {
  line-height: 2em;
}

.profile h3 {
  border-left: 5px solid #FECB00;
  padding-left: 10px;
  text-transform: uppercase;
}
