.menu-left {

}
.menu-left h3{
  background: #d14841;
  color: #fff;
  padding: 10px;
}
.menu-left ul {
  margin: 10px 0;
}
.menu-left ul li a{
  color: #000;
  display: block;
  padding: 5px;
}
.product-form  .item {
	margin-bottom: 30px;
	height: 263px;
	overflow: hidden;
}
.product-form .item a{
	border:solid 1px #ccc;
	display: block;
	height: 100%;
}
.product-form .item img  {
	max-width: 100%;
}