/*@font-face {
    font-family: 'UTMBebas';
    src: url('../fonts/UTMBebas.ttf') format('truetype');
}*/
body {
	/*font-family: UTM Bebas;*/
	font-family: Roboto;
	font-weight: normal;
	color: #28324e;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
a:hover,a:focus,a:active{
	text-decoration: none;
}
